*{
    margin:0;
}
body{
    background-color: rgb(209, 241, 241);
}

header{
    width: 100%;
    height: 350px;
    color: black;
    background-image:url('header.png');
    display: inline-block;   
}

header img{
    margin-top: 1em;
    margin-right: 1em;
    float: right;
    width: 100px;
    height: 50px;
}
img{
    margin-top: 1em;
}
article{
    margin-top:19px;
    color: rgb(3, 53, 68);
    font-size: 60px;
    font-style: italic;
    font-feature-settings:"halt";
    text-align: center;
}
P{
    padding:1em;
   
}
nav{
    padding:1em;
    margin-top: 20px;
    margin-left: 20px;
    background-color: rgb(136, 223, 245);
    border: 1px black solid;
    display: inline-block;
    
}
div{
    position: relative;
    top: -300px;
    left: 100px;
}
h4{
    color: black;
    background-color: white;
    font-size: x-large;
    display: inline-block;
    padding: 8px;
    border: rgb(131, 22, 22) 1px solid;
}
h1{
    margin-left:1em;
    width: 100%;
    padding: 1em;
    margin-left:-2em;
    text-align: right;
    background-color: rgb(224, 147, 201);
    display: inline-block;
}
h2{
    margin-left: 1em;
    margin-top: 1em;
}
h3{
    margin-left: 1em;
    margin-top:1em;
    background-color: rgb(248, 189, 178);
    display: inline-block;
    border: black 1px solid;
    padding: 5px;
}
section{
    
}
footer{
    background-image: url('logo.jpg');
    background-position: right bottom;
    background-size: 100px 50px;
    background-repeat: no-repeat;
    background-color: rgb(152, 204, 206);
}
footer nav{
    background-color:rgb(152, 204, 206);
    border: rgb(152, 204, 206);
}